<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Livres
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of bookList; let i = index;"
            (click)="onLend(i)">
      <ion-card [ngClass]="{'is-unavailable': !book.isAvailable}">
        <ion-card-header>{{book.name}}</ion-card-header>
        <ion-card-content>
          <p *ngFor="let line of book.description">{{line}}</p>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
</ion-content>
